#Projects .content{
    background: rgba(192, 192, 192, 0.5);
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	scrollbar-width: none;
	gap: 8px;
}

.projectBackground{
	background: var(--project-colour);
	border-radius: 16px;
    box-shadow:
    inset 0 -1px 2px 0px rgba(  0,   0,   0, 0.6), /* internal shadow */
    inset 0  1px 2px 0px rgba(255, 255, 255, 0.6), /* internal highlight */
        0px  1px 2px 0px rgba(255, 255, 255, 0.8), /* external highlight */
        0px -1px 2px 0px rgba(  0,   0,   0, 0.8); /* external shadow */
}
.projectInner{
	display: grid;
	background: #7847e6;
	grid-template-areas:
		"icon name favicon"
		"icon desc desc"
		"icon stats stats";
	grid-template-columns: auto 1fr auto;
	grid-template-rows: auto 1fr auto;
	border-radius: 16px;
	margin-left: 8px;
	padding: 8px;
	gap: 8px;
}
.projectIcon{
	grid-area: icon;
	border-radius: 8px;
	height: 128px;
    box-shadow:
    inset 0 -1px 2px 0px rgba(  0,   0,   0, 0.6), /* internal shadow */
        0px  1px 2px 0px rgba(255, 255, 255, 0.8), /* external highlight */
        0px -1px 2px 0px rgba(  0,   0,   0, 0.8); /* external shadow */
}
.projectName{
	grid-area: name;
	text-decoration: underline;
	font-size: xx-large;
	color: cyan;
	margin-right: auto;
}
.projectFavicons{
	grid-area: favicon;
	display: flex;
	flex-direction: row-reverse;
	gap: 2px;
	height: 40px;
}
.projectFavicon{
	border-radius: 8px;
	aspect-ratio: 1/1;
	height: 40px;
}
.projectDesc{
	grid-area: desc;
	margin: 4px;
}
.projectStats{
	grid-area: stats;
	margin: 4px;
	padding: 4px;
	padding-inline: 8px;
	border-radius: 8px;
	width: fit-content;
	background-color: rgba( 64,  64,  64); 
    box-shadow: 
    inset 0 -1px 2px 0px rgba(  0,   0,   0, 0.6), /* internal shadow */
        0px  1px 2px 0px rgba(255, 255, 255, 0.8), /* external highlight */
        0px -1px 2px 0px rgba(  0,   0,   0, 0.8); /* external shadow */
}