#Projects .content{
	grid-template-rows: auto auto;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	scrollbar-width: none;
	gap: 8px;
}

.projectBg{
	background: var(--project-colour);
	border-radius: 16px;
    box-shadow:
          0px 0px 4px 2px rgba(  0,   0,   0, 0.5); /* external shadow */
}
.project{
	display: grid;
	background: #7847e6;
	grid-template-areas:
		"icon name favicon"
		"icon desc desc"
		"icon stats stats";
	grid-template-columns: auto 1fr auto;
	grid-template-rows: auto 1fr auto;
	/*border-left: 8px solid var(--project-colour);*/
	border-radius: 16px;
	margin-left: 8px;
	padding: 8px;
	gap: 8px;
}
.projectIcon{
	grid-area: icon;
	border-radius: 8px;
	height: 128px;
	box-shadow: 0 0 12px -2px black;
}
.projectName{
	grid-area: name;
	text-decoration: underline;
	font-size: xx-large;
	color: cyan;
	margin-right: auto;
}
.projectFavicons{
	grid-area: favicon;
	display: flex;
	gap: 2px;
	height: 40px;
}
.projectFavicon{
	border-radius: 8px;
	aspect-ratio: 1/1;
	height: 40px;
}
.projectDesc{
	grid-area: desc;
	margin: 4px;
}
.projectStats{
	grid-area: stats;
	margin: 4px;
}