#Projects > span{
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 8px;
	overflow-y: scroll;
}
.project{
	display: grid;
	background: #222;
	grid-template-areas:
		"icon name tags"
		"icon desc desc"
		"icon other other";
	grid-template-columns: auto auto 1fr;
	grid-template-rows: auto 1fr auto;
	border-radius: 16px;
	padding: 8px;
	gap: 8px;
}

.projectIcon{
	grid-area: icon;
	border-radius: 8px;
	width: 128px;
	height: 128px;
}
.projectName{
	grid-area: name;
	text-decoration: underline;
	font-size: xx-large;
	color: cyan;
}
.directDownload::after{
	content: " 📥";
	font-size: medium;
}
.externalLink::after{
	content: " 🔗";
	font-size: medium;
}
.projectTags{
	grid-area: tags;
	text-decoration: underline dotted;
	font-size: x-large;
	color: red;
	margin-top: auto;
}
.projectDesc{
	grid-area: desc;
	margin: 4px;
}
.projectOther{
	grid-area: other;
	margin: 4px;
}