.mainContent {
    position: relative;
    margin: 32px;
}
.contentWindow:target {
    transform: translate(0, 0) scale(100%) !important;
}
.contentWindow {
    --window-padding: 12px;
    --window-bg: rgba(  0, 255, 255, 0.2);
    --header-height: 32px;
    --header-icon-radius: 4px;

    position: absolute;
    height: calc(100% - var(--window-padding) - var(--window-padding));
    width: calc(100% - var(--window-padding) - var(--window-padding));
    padding: var(--window-padding);
    display: grid;
    grid-template-areas:
        "header"
        "content";
    grid-template-columns: 1fr;
    grid-template-rows: var(--header-height) 1fr;

    overflow: hidden;
    color: rgba(255, 255, 255, 1.0);
    background-color: var(--window-bg);
    backdrop-filter: blur(8px);
    border-radius: 16px;
    box-shadow:
        inset 0 0 3px 0px rgba(255, 255, 255, 0.4), /* internal highlight */
        inset 0 0 3px 1px rgba(  0,   0,   0, 0.4), /* internal edge */
        inset 0 0 3px 5px rgba(  0,   0,   0, 0.1), /* internal shadow */
          2px 2px 4px 3px rgba(  0,   0,   0, 0.3); /* external shadow */

    transition: transform 0.25s;
    transform: translate(200%, 0%) scale(1%);
}
.contentWindow:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 0;
    top: 0;
    box-shadow: 0 1px 4px 3px rgba(255, 255, 255, .6);
}
.contentWindow:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 0;
    bottom: 0;
    box-shadow: 0 -1px 4px 4px rgba(0, 0, 0, .15);
}

.header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    text-shadow: black 0 0 0.2em;
}
.header .icon{
    font-family: "icons";
    font-size: 1.2em;
    user-select: none;
    display: flex;
    gap: 1px;
}
.header .icon > * {
    font-family: "icons";
    color: inherit;
    width: calc(var(--header-height) - calc(2 * var(--header-icon-radius)));
    height: calc(var(--header-height) - calc(2 * var(--header-icon-radius)));
    background: transparent;
    border: none;
    border-radius: var(--header-icon-radius);
    text-align: center;
    cursor: pointer;
    box-shadow:
    inset 0 -1px 2px 0px rgba(  0,   0,   0, 0.6), /* internal shadow */
    inset 0  1px 2px 0px rgba(255, 255, 255, 0.6), /* internal highlight */
        0px  1px 2px 0px rgba(255, 255, 255, 0.8), /* external highlight */
        0px -1px 2px 0px rgba(  0,   0,   0, 0.8); /* external shadow */
}