#Art .content{
	height: calc(100% - calc(8px *  2) - calc(var(--window-padding) / 2));
	color: black;
	display: grid;
	grid-template-areas: 
		"left art right"
		"name name name";
	grid-template-columns: auto 1fr auto;
	grid-template-rows: 1fr auto;
}
.contentHolder {
	container-type: size;
	display: flex;
	height: 100%;
	width: 100%;
}
.contentHolder>*{
	object-fit: contain;
	max-height: 100cqh;
	max-width: 100cqw;
	margin: auto;
}
.moveButtons {
	border: black 2px solid;
	align-content: center;
	text-align: center;
	height: 4rem;
	width: 4rem;
	font-size: xx-large;
	font-weight: bold;
	cursor: pointer;
	margin: auto;
}
.nameHolder {
	grid-area: name;
	align-content: center;
	text-align: center;
	font-size: 4em;
	margin: auto;
}