#Art .content{
	display: grid;
	grid-template-rows: auto auto;
}
.artCarousel{
	display: grid;
	color: black;
	grid-template-columns: auto 0px;
	align-items: center;
	justify-content: center;
}
.artCarousel .carouselMain{
	width: 80%;
	object-fit: cover;
	justify-self: center;
	align-self: center;
}
.artCarousel .carouselOther{
	width: 0px;
	height: 0px;
}
.artPicker{
	width: 100%;
	display: flex;
	gap: 8px;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;
}
.artPicker button{
	border: none;
	padding: 0;
	min-width: 128px;
	width: 10%;
	cursor: pointer;
}
.artPicker img{
	width: 100%;
	aspect-ratio: 16/9;
	object-fit: cover;
	cursor: pointer;
}