html {
    background-image: url("../Resources/cloud.PNG");
    background-position: left;
    background-size: cover;
    overflow: hidden;
}
body {
    display: grid;
    grid-template-areas:
        "A B"
        "A C";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    height: 100%;
    width: 100%;
    margin: 0;
}

.startMenu {
    grid-area: A;
    align-self: stretch;
    justify-self: start;
}
.musicPlayer {
    grid-area: B;
    align-self: flex-start;
    justify-self: end;
}
.mainContent {
    grid-area: C;
    align-self: auto;
    justify-self: auto;
}