ul{
	padding: 0;
	list-style-type: none;
	display: grid;
	grid-template-columns: 1fr;
	width: 100%;
	gap: 16px;
}
li{
	display: grid;
	background-color: var(--light-cat-light-pink);
	border: 5px solid var(--light-cat-pink);
	border-radius: 32px;
	grid-template-columns: min(256px, 20%) 1fr;
	padding: 16px;
	text-align: left;
	min-width: fit-content;
	gap: 12px;
}
figure{
	overflow: hidden;
	border-radius: 6px;
	margin: 0;
}
figure img{
	height: 100%;
	width: 100%;
	vertical-align: middle;
	object-fit: cover;
}
figure figcaption{
	position: relative;
	margin-top: -2em;
	padding: 0.5em;
	height: 1em;
	z-index: 1;
	background: rgba(33, 8, 73, 0.75);
	backdrop-filter: blur(4px);
	border-radius: 0;
	opacity: 0;
	transition: all 0.1s;
	text-align: left;
	color: var(--light-cat-pink);
}
figure:hover figcaption{
	opacity: 1;
}

.title{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}
.name{
	font-size: 2rem;
	color: var(--OC-accent);
	text-decoration: underline;
	filter: drop-shadow(0 0 1px black);
}
.pronouns{
	font-size: 1rem;
}
.description{
	min-width: min-content;
}

.hannah{
	--OC-accent: #9c72ea;
}
.hazel{
	--OC-accent: #f6a5dc;
}
.ramiel{
	--OC-accent: #4a405c;
}
.eclipse{
	--OC-accent: #22007a;
}
.pet{
	--OC-accent: #ca4044;
}