ul{
	padding-inline: 16px;
	list-style-type: none;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	gap: 16px;
}
li{
	display: grid;
	background-color: var(--light-cat-light-pink);
	border: 5px solid var(--light-cat-pink);
	border-radius: 32px;
	grid-template-columns: 128px 1fr;
	padding: 16px;
	text-align: left;
	min-width: fit-content;
	gap: 12px;
}
li{
	display: flex;
	background-color: var(--light-cat-light-pink);
	border: 5px solid var(--light-cat-pink);
	border-radius: 32px;
	grid-template-columns: min(2=128px, 20%) 1fr;
	padding: 16px;
	text-align: left;
	min-width: fit-content;
	gap: 12px;
}
li img{
	border-radius: 8px;
	width: 25%;
	align-self: center;
}