#OCs .content{
    background: rgba(192, 192, 192, 0.5);
	display: grid;
	overflow-y: scroll;
	scrollbar-width: none;
	gap: 8px;
    grid-template-columns: repeat(auto-fit, 144px);
    grid-template-rows: repeat(auto-fit, 200px);
    justify-content: space-around;
}

.WIPWarn{
    text-align: center;
	text-decoration: underline;
	font-size: xx-large;
	color: red;
    text-shadow: white 0 0 0.2em;
}

.ocInner{
	display: flex;
    flex-direction: column;
	background: #7847e6;
	border-radius: 16px;
	padding: 8px;
	gap: 8px;
    justify-content: center;
    height: fit-content;
    height: 180px;
    width: fit-content;
}
.ocIcon{
	border-radius: 8px;
	height: 128px;
	width: 128px;
    box-shadow:
    inset 0 -1px 2px 0px rgba(  0,   0,   0, 0.6), /* internal shadow */
        0px  1px 2px 0px rgba(255, 255, 255, 0.8), /* external highlight */
        0px -1px 2px 0px rgba(  0,   0,   0, 0.8); /* external shadow */
}
.ocName{
    text-align: center;
	text-decoration: underline;
	font-size: xx-large;
	color: cyan;
    height: 48px;
}