* {
	--cat-black: #000000;
	--cat-purple: #ac85f3;
	--cat-dark-purple: #7847e6;
	--cat-blue: #86a2ec;
	--cat-light-blue: #b3d3f7;
	--cat-pink: #f099dd;
	--cat-light-pink: #febcdd;
	--cat-yellow: #fdf1ae;
	--cat-white: #ffffff;
}
@font-face {
	font-family: "Dafont";
    src: url(../Images/Nice\ Sugar.ttf) format("truetype");
}
html {
	color: var(--cat-dark-purple);
	background: var(--cat-purple);
	text-align: center;
    font-family: "Dafont", sans-serif;
}
a {
	color: var(--cat-light-blue);
	text-shadow: 0 0 0.5ch var(--cat-dark-purple);
}
h1,
h2,
h3,
p {
	margin: 0px;
}

header iframe {
	width: 100%;
	border: none;
}
footer iframe {
	width: 100%;
	border: none;
}
hr.dashed {
	border: none;
	border-top: 4px dashed var(--cat-light-pink);
}
hr.minimal {
	border: none;
	border-top: 4px dotted var(--cat-light-pink);
}