body{
	margin: 0;
}
.badges{
	align-self: center;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-inline: 18%;
}
.badges a{
	text-decoration: none;
}
.badges img{
	height: 31px;
	width: 88px;
}