main {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 0px 16px;
	gap: 5%;
}
main .images{
	max-width: 384px;
	width: 20%;
	flex-basis: 30%;
}
main img{
	width: 100%;
	border-radius: 16px;
}
main .intro{
	flex-basis: 60%;
}

.fancy{
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-wrap: break-word;
	width: fit-content;
	font-size: larger;
	background: linear-gradient(in hsl longer hue 10deg, red 0 0);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 1px #333;
	filter: drop-shadow(0 0 3px #666);
}
.fancy *{
	width: fit-content;
	overflow-wrap: break-word;
}
.big{
	font-size: xx-large;
}
.medium{
	font-size: larger;
}
.small{
	font-size: large;
}