ul{
	padding: 0;
	list-style-type: none;
	display: grid;
	grid-template-columns: 1fr;
	width: 100%;
	gap: 16px;
}
li{
	background-color: var(--light-cat-light-pink);
	border: 5px solid var(--light-cat-pink);
	border-radius: 32px;
	padding: 16px;
	text-align: left;
	display: flex;
	flex-direction: row;
	min-width: fit-content;
	gap: 12px;
}

.gallery{
	border-radius: 12px;
	overflow: hidden;
	display: grid;
	min-width: 400px;
	max-width: 400px;
}
.gallery img{
	max-height: 100%;
	max-width: 100%;
	vertical-align: middle;
}
.gallery figure{
	overflow: hidden;
	border-radius: 6px;
	margin: 0;
}
.gallery figure figcaption{
	position: relative;
	margin-top: -2em;
	padding: 0.5em;
	height: 1em;
	z-index: 1;
	background: rgba(33, 8, 73, 0.75);
	backdrop-filter: blur(4px);
	border-radius: 0;
	opacity: 0;
	transition: all 0.1s;
	text-align: left;
}
.gallery figure:hover figcaption{
	opacity: 1;
}
.triple{
	grid-template-columns: auto auto;
	grid-template-rows: auto auto auto;
	gap: 6px;
}
.triple > *:first-child{
	grid-column: span 2;
	grid-row: span 2;
}

.title{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}
.name{
	font-size: 2rem;
	color: var(--OC-accent);
	text-decoration: underline;
}
.credit{
	font-size: 1.5rem;
}
.pronouns{
	font-size: 1rem;
}
.description{
	min-width: min-content;
}

.kit{
	--OC-accent: #86a2ec;
}
.mindy{
	--OC-accent: #4ea699;
}