ul{
	padding: 0;
	list-style-type: none;
	display: grid;
	grid-template-columns: 1fr;
	width: 100%;
	gap: 16px;
}
li{
	background-color: var(--cat-light-pink);
	border: 5px solid var(--cat-pink);
	border-radius: 32px;
	padding: 16px;
	text-align: left;
	display: flex;
	flex-direction: row;
	min-width: fit-content;
	gap: 12px;
}

.gallery{
	border-radius: 12px;
	overflow: hidden;
	display: grid;
	min-width: 400px;
	max-width: 400px;
}
.gallery img{
	object-fit: contain;
	border-radius: 6px;
	max-height: 100%;
	max-width: 100%;
}
.triple{
	grid-template-columns: auto auto;
	grid-template-rows: auto auto auto;
	gap: 6px;
}
.triple > img:first-child{
	grid-column: span 2;
	grid-row: span 2;
}

.description{
	min-width: min-content;
}
.name{
	font-size: 2rem;
	text-decoration: underline;
}
.title{
	display: block;
	font-size: 1.5rem;
	text-decoration: underline;
	width: max-content;
}

.kit{
	color: #86a2ec;
}
.mindy{
	color: #4ea699;
}